<widget id="A6073668117424" version="0.0.0">
    <name>BG车牌</name>
    <content src="./vehicle/dist/index.html"/>
    <access origin="*"/>
    <preference name="pageBounce" value="false"/>
    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
    <preference name="hScrollBarEnabled" value="true"/>
    <preference name="vScrollBarEnabled" value="true"/>
    <preference name="autoLaunch" value="false"/>
    <preference name="fullScreen" value="false"/>
    <preference name="autoUpdate" value="true"/>
    <preference name="smartUpdate" value="true"/>
    <preference name="debug" value="false"/>
    <preference name="statusBarAppearance" value="true"/>
    <preference name="customRefreshHeader" value="UIPullRefreshFlash"/>
    <!-- 测试外部启动app的urlScheme -->
    <preference name="urlScheme" value="adbingo"/>
    <preference name="userAgent" value="(lrkjapp)"/>
    <preference name="backgroundMode" value="remote-notification"/>
    <permission name="readPhoneState"/>
    <permission name="camera"/>
    <permission name="record"/>
    <permission name="location"/>
    <permission name="fileSystem"/>
    <permission name="internet"/>
    <permission name="bootCompleted"/>
    <permission name="hardware"/>  
</widget>


